.footer{
  background: #232473;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer__info-logo{
  display: block;
  margin-bottom: 20px;
}
.footer__logo{
  width: 304px;
  height: 32px;
}
.footer__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.507px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
}
.footer__item a{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
.footer__item a:hover, .footer__item a:focus {
  text-decoration: none;
  color: white;
}
.footer__info{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__items{
  width: 175px;
  margin-right: 32px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__contacts{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.social__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  letter-spacing: -0.507px;
  color: #FFFFFF;
  margin: 8px 0;
}
.social__items{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.social__item{
  margin-right: 8px;
}
.footer__rules{
  width: 100%;
  background: #1A1B57;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.507px;
  color: #FFFFFF;
  margin-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.footer__rules p{
  opacity: 0.5;
  padding-top: 10px;
}

@include breakpoint(tablet){
  .footer__info{
    width: auto;
    margin-right: 109px;
    padding-left: 100px;
  }
  .footer__logo{
    width: 304px;
    height: 32px;
  }
  .footer__contacts{
    padding-left: 100px;
  }
  .footer__rules{
    padding-left: 100px;
  }

}
@include breakpoint(desktop) {
  .footer {
    padding-left: 0;
    justify-content: center;
  }
  .footer__info{
    padding-left: 0;
  }
  .footer__contacts {
    width: auto;
    padding-left: 0;
  }
  .footer__rules{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0;
  }
  .footer__rules-first{
    padding-right: 430px;
  }
}
@include breakpoint(widescreen){
  .footer__contacts{
    margin-left: 136px;
  }
  .footer__rules-first{
    padding-right: 570px;
  }
}