@import "~bootstrap/scss/bootstrap";
@import "utils/vars";
@import "utils/fonts";
@import "utils/reset";
@import "utils/mixin";
@import "header";
@import "slider";
@import "news";
@import "disciplines";
@import "map";
@import "footer";
@import "modal";

body{
  color: $mainColor;
  min-width: 320px;
  max-width: 2034px;
  margin: 0 auto;
}

.button{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 24px;
  border-radius: 50px;

}
.button-blue{
  background: #3951E7;
}

.button-red{
  background: #F21F5B;
}
.buttons-raw{
  position: relative;
  padding-left: 52px;
  &::before{
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    position: absolute;
    left: 24px;
    top: 17px;
    background-image: url("../img/email.svg");
    background-repeat: no-repeat;
  }
  &--size{
    padding-top: 9px;
    padding-bottom: 9px;
    &::before{
      top: 14px;
    }
  }
}
button:focus{
  outline: none;
}

.button-red:hover, .button-red:focus,
{
  background-color: #d20c44;
  color: white;
  text-decoration: none;
}

.button-blue:hover, .button-blue:focus,
{
  background-color: #1a2bd3;
  color: white;
  text-decoration: none;
}