.map{
  position: relative;
}
.map__content{
  height: 456px;
  width: 100%;

}
.map__contacts{
  margin: 80px auto 40px;
  //padding: 40px 71px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 300px;
}
.map__title{
  font-family: $titleFont;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 16px;
}
.map__address{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.map__tel a{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $mainColor;
}
.map__tel{
  margin: 12px auto 24px;
}
.map__tel span{
  color: #3951E3;
}

@include breakpoint(desktop){
  .map{
    margin-top: 80px;
  }
  .map__contacts{
    position: absolute;
    width: 488px;
    top:80px;
    left: 80px;
    padding: 40px 71px;
    margin: 0;
    z-index: 1000;
  }
}
@include breakpoint(widescreen){
  .map__contacts{
    left: 411px;
  }
}